.sort-menu {
    min-height: 2.5rem !important;
    max-height: 2.5rem;
}

.search-input {
    max-width: inherit;
}

.table-container {
    background-color: black;
    overflow: auto;
    max-height: calc(100vh * 0.65);

    table {
        width: 100%;
    }
}

@media only screen and (min-width: 760px) {
    .align-right-md-up {
        text-align: right;
    }
}