$device-small-breakpoint: 760px;

.sort-menu {
    min-height: 2.5rem !important;
    max-height: 2.5rem;
}

.search-input {
    max-width: inherit;
}

.table-container {
    overflow: auto;
    max-height: calc(100vh * 0.60);
    padding: 0;
    margin:0;
    
    thead th{
        position: sticky;
        top: -1px;
    }

    tfoot th {
        position: sticky;
        bottom: -1px;
    }
}

.sidebar-trigger {
    font-size: inherit !important;
    cursor: pointer;
    vertical-align: unset !important;
}

@media only screen and (min-width: $device-small-breakpoint) {
    .align-right-md-up {
        text-align: right;
    }
}

@media only screen and (max-width: $device-small-breakpoint){
    .table-container {
        max-height: 30vh;
    }
}